<html>
  <head>
    <% if(bot) { %>
      <title>@<%= bot.tag %></title>
    <% } else { %>
      <title>Discord Plays Minesweeper</title>
    <% } %>

    <%- include('header') %>

    <script src="scripts/create.js"></script>
  </head>
  <body class="opc-darkmode">
    <%- include('navbar') %>
    <div class="w3-container opc-center-container">
      <div class="w3-container w3-card-4 w3-padding-16 dpmMain">
        <% if(bot) { %>
          <h1>@<%= bot.tag %></h1>
          <% if(user) { %>
            <p>You are logged in as: @<%= user.tag %></p>
            <% if(user.channel) { %>
              <% if(user.channel.guild) { %>
                <p id="guild-info">Guild: <%= user.channel.guild.name %></p>
                <p id="channel-info">Channel: #<%= user.channel.name %></p>
              <% } else { %>
                <p id="channel-info">Channel: Direct messages</p>
              <% } %>
              <div id="info-selector">
                <p>To change channel run `/start` in a server (using the configured prefix or slash commands) or DMs and refresh for the channel to update here.</p>
                <button class="selector-button w3-button w3-teal w3-right" to="board-selector">Next</button>
              </div>
              <div><%- include('generator', {minesweeper,minedata,customboarddata}) %></div>
            <% } else { %>
              <p>Run `/start` in a server (using the configured prefix or slash commands) or DMs and refresh for the channel to update here.</p>
            <% } %>
          <% } %>
        <% } else { %>
          <h1>Discord Plays Minesweeper</h1>
          <p>The bot has not started yet.</p>
        <% } %>
      </div>
      <div style="height:30px;"></div>
    </div>
  </body>
</html>
