<html>
  <head>
    <% if(bot) { %>
      <title>@<%= bot.tag %></title>
    <% } else { %>
      <title>Discord Plays Minesweeper</title>
    <% } %>

    <%- include('header') %>
  </head>
  <body class="opc-darkmode">
    <%- include('navbar') %>
    <div class="w3-container opc-center-container">
      <div class="w3-container w3-card-4 w3-padding-16 dpmMain">
        <% if(bot) { %>
          <h1>@<%= bot.tag %></h1>
          <p>You are required to login with your Discord account before creating any boards. This is so your user settings can be loaded and so the board is created in the correct channel.</p>
          <p>Run `>start` in a server or DMs to start a game or mention `@<%= bot.tag %>` to find out what prefix the bot is configured to use in the server.</p>
          <%
            let active = minesweeper.getRunningGames();
            let guildCache = minesweeper.client.guilds.cache;
            let guilds = guildCache.size;
          %>
          <p>I am in <%= guilds %> server<%= guilds==1?"":"s" %>, playing <%= active %> game<%= active==1?"":"s" %>.</p>
        <% } else { %>
          <h1>Discord Plays Minesweeper</h1>
          <p>The bot has not started yet.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
